@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1170px) {
    @content;
  }
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 16px;

  @include onTablet {
    padding: 0 32px;
  }

  @include onLaptop {
    padding: 0 60px;
  }

  @include onDesktop {
    padding: 0;
  }

}

.container-white {
  background-color: #fff;
}
