@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1170px) {
    @content;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include onTablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  @include onLaptop() {
    gap: 29px;
  }
}
