@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1170px) {
    @content;
  }
}

.header {
  display: flex;
  flex-direction: column;
  

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo {
    line-height: 0;

    &-img {
      height: 26px;
      width: 104px;
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
  }

  &__background {
    flex-grow: 1;
    background: url(../../images/first-page-mob.png);
    background-size: cover;
    background-image: no-repeat;
    display: flex;
    justify-content: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 71px;

    @include onTablet {
      background: url(../../images/first-page-tablet.png);
      background-position: center;
      background-size: cover;
      background-image: no-repeat;
      padding-top: 89px;
      padding-bottom: 88px;
    }

    @include onLaptop {
      background: url(../../images/first-page-laptop.png);
      background-size: cover;
      background-position: center;
      background-image: no-repeat;
      padding-top: 164px;
      padding-bottom: 163px;
    }

    @include onDesktop {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/pexels-alexandr-podvalny-1227513.jpeg);
      background-size: cover;
      background-position: center;
      background-image: no-repeat;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 328px;

    @include onTablet {
      max-width: 380px;
    }
  }

  &__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 21px;
  }

  &__description {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
  }
}
