@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1170px) {
    @content;
  }
}

.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo {
    line-height: 0;

    &-img {
      height: 26px;
      width: 104px;
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
  }

  &__background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/pexels-alexandr-podvalny-1227513.jpeg);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 328px;

    @include onTablet {
      max-width: 380px;
    }
  }

  &__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    padding-top: 40px;
    margin-bottom: 21px;

    @include onTablet {
      padding-top: 89px;
    }

    @include onLaptop {
      padding-top: 164px;
    }
  }

  &__description {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
  }
}
